h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.feature-wrapper {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    background: #FFFFFF;
}

.button {
    padding: 0.6rem 1.6rem;
    font-size: 2rem;
    color: #F5F6F9;
}

.input {
    padding: 1rem 2rem;
}